{{>header}}
{{>navbar}}
<form method = "post" action="/editform">
    <input type="text" placeholder="" name="uname" value="{{uname}}" autocomplete="off"></input>
    <input type="password" name="pass" value="{{pass}}" placeholder="" autocomplete="off">
    <button>update</button>
</form>