{{>header}}

<h3>{{message}}</h3>

<form method="post" action="/submitlogin">
    <input type="email" name="email" placeholder="Enter email"></input>

    <input type="password" name="pass" placeholder="Enter password"></input>

    <button>Login here</button>
    
</form>

<div id="formFooter">
      <a class="underlineHover" href="register">New here?</a>
    </div>