{{>header}}
<br>
<body>
    



<form method="post" action="submitform" enctype="multipart/form-data">

    <input type="text" name="uname"
    placeholder="enter your name"/> <br><br>

     <input type="text" name="email"
    placeholder="enter your email"/> <br><br>

    <input type="file" name="picture"/> <br><br>

     <input type="password" name="pass" placeholder="enter password"/> <br><br>

    <button>submit</button>



    <li class="nav-item">
        <a class="nav-link" href="/login">login</a>
      </li>

</form>
</body>
</html>